{{template "base/head" .}}
<div class="repository forks">
	{{template "repo/header" .}}
	<div class="ui container">
		<h2>
			{{.i18n.Tr "repo.forks"}}
		</h2>
		<div class="ui list">
			{{if not .Forks}}
				<div class="ui center dashboard no-activity">
					<img class="ui avatar small image" src="https://cdn.gitote.in/img/svg/collection.svg">
					<br/>
					<h2>No Forks</h2>
				</div>
			{{end}}
			{{range .Forks}}
				<div class="item">
					<img class="ui avatar image" src="{{.Owner.RelAvatarLink}}">
					<div class="link">
						<a href="{{AppSubURL}}/{{.Owner.Name}}">{{.Owner.Name}}</a>
						/
						<a href="{{AppSubURL}}/{{.Owner.Name}}/{{.Name}}">{{.Name}}</a>
					</div>
				</div>
			{{end}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
