{{template "base/head" .}}
<div class="repository file list">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		{{if .PageIsRepoHome}}
		{{if not .IsLogged}}
			{{template "misc/signup_prompt" .}}
		{{end}}
			<p id="repo-desc">
				{{if .Repository.Description}}<span class="description has-emoji">{{.Repository.Description | NewLine2br | Str2HTML}}</span>{{else}}<span class="no-description text-italic">{{.i18n.Tr "repo.no_desc"}}</span>{{end}}
				<a class="link repo url" href="{{.Repository.Website}}">{{.Repository.Website}}</a>
			</p>
			<div class="ui segment" id="git-stats">
				<div class="ui two horizontal center link list">
					<div class="item">
				  		<a href="{{.RepoLink}}/commits/{{EscapePound .BranchName}}"><span class="ui text black"><i class="menu-icon octicon">🕒</i> <b>{{.CommitsCount}}</b> {{.i18n.Tr "repo.commits"}}</span> </a>
					</div>
					<div class="item">
				  		<a href="{{.RepoLink}}/branches"><span class="ui text black"><i class="menu-icon octicon">🌵</i> <b>{{.BrancheCount}}</b> {{.i18n.Tr "repo.git_branches"}}</span> </a>
					</div>
					<div class="item">
				  		<a href="{{.RepoLink}}/releases"><span class="ui text black"><i class="menu-icon octicon">🏷️</i> <b>{{.Repository.NumTags}}</b> {{.i18n.Tr "repo.releases"}}</span> </a>
					</div>
				</div>
			</div>
		{{end}}
		<div class="ui secondary menu">
			{{if .PullRequestCtx.Allowed}}
				<div class="fitted item">
					<a href="{{.BaseRepo.Link}}/compare/{{EscapePound .BaseRepo.DefaultBranch}}...{{EscapePound .PullRequestCtx.HeadInfo}}">
						<button class="ui green small button"><i class="octicon octicon-git-compare"></i></button>
					</a>
				</div>
			{{end}}
			{{template "repo/branch_dropdown" .}}
			<div class="fitted item">
				<div class="ui breadcrumb">
					<a class="section" href="{{.RepoLink}}/src/{{EscapePound .BranchName}}">{{EllipsisString .Repository.Name 15}}</a>
					{{ $n := len .TreeNames}}
					{{ $l := Subtract $n 1}}
					{{range $i, $v := .TreeNames}}
						<div class="divider"> / </div>
						{{if eq $i $l}}
							<span class="active section">{{$v}}</span>
						{{else}}
							{{ $p := index $.Paths $i}}
							<span class="section"><a href="{{EscapePound $.BranchLink}}/{{EscapePound $p}}">{{$v}}</a></span>
						{{end}}
					{{end}}
				</div>
			</div>
			<div class="right fitted item">
				{{if .Repository.CanEnableEditor}}
					<div id="file-buttons" class="ui tiny blue buttons">
						{{if .CanAddFile}}
							<a href="{{.RepoLink}}/_new/{{EscapePound .BranchName}}/{{EscapePound .TreePath}}" class="ui teal basic button">
								{{.i18n.Tr "repo.editor.new_file"}}
							</a>
						{{end}}
						{{if .CanUploadFile}}
							<a href="{{.RepoLink}}/_upload/{{EscapePound .BranchName}}/{{EscapePound .TreePath}}" class="ui green basic button">
								{{.i18n.Tr "repo.editor.upload_file"}}
							</a>
						{{end}}
					</div>
				{{end}}

				<!-- Only show clone panel in repository home page -->
				{{if eq $n 0}}
					<div class="ui action small input" id="clone-panel">
						{{if not $.DisableHTTP}}
							<button class="ui basic clone button" id="repo-clone-https" data-link="{{.CloneLink.HTTPS}}">
								{{if UseHTTPS}}HTTPS{{else}}HTTP{{end}}
							</button>
						{{end}}
						{{if not $.DisableSSH}}
							<button class="ui basic clone button" id="repo-clone-ssh" data-link="{{.CloneLink.SSH}}">
								SSH
							</button>
						{{end}}
						<input id="repo-clone-url" value="{{if not $.DisableHTTP}}{{$.CloneLink.HTTPS}}{{else}}{{$.CloneLink.SSH}}{{end}}" readonly>
						<button class="ui basic icon button poping up clipboard" id="clipboard-btn" data-original="{{.i18n.Tr "repo.copy_link"}}" data-success="{{.i18n.Tr "repo.copy_link_success"}}" data-error="{{.i18n.Tr "repo.copy_link_error"}}" data-content="{{.i18n.Tr "repo.copy_link"}}" data-variation="inverted tiny" data-clipboard-target="#repo-clone-url">
							<i class="octicon octicon-clippy"></i>
						</button>
						<div class="ui basic jump dropdown icon button">
							<i class="download icon"></i>
							<div class="menu">
								<a class="item" href="{{$.RepoLink}}/archive/{{EscapePound $.BranchName}}.zip"><i class="octicon octicon-file-zip"></i> ZIP</a>
								<a class="item" href="{{$.RepoLink}}/archive/{{EscapePound $.BranchName}}.tar.gz"><i class="octicon octicon-file-zip"></i> TAR.GZ</a>
							</div>
						</div>
					</div>
				{{end}}
			</div>
		</div>
		{{if .IsViewFile}}
			{{template "repo/view_file" .}}
		{{else}}
			{{template "repo/view_list" .}}
		{{end}}
	</div>
</div>
{{template "base/footer" .}}
