<div class="ui container user-cards">
	<h2>
		{{.CardsTitle}}
	</h2>
	<ul class="list">
		{{if not .Cards}}
			{{if .PageIsFollowers}}
				<div class="ui center dashboard no-activity">
					<img class="ui avatar small image" src="https://cdn.gitote.in/img/svg/followers.svg">
					<br/>
					<h2>No Followers</h2>
				</div>
			{{else if .PageIsFollowing}}
				<div class="ui center dashboard no-activity">
					<img class="ui avatar small image" src="https://cdn.gitote.in/img/svg/following.svg">
					<br/>
					<h2>No Following</h2>
				</div>
			{{else if .PageIsWatchers}}
				<div class="ui center dashboard no-activity">
					<img class="ui avatar small image" src="https://cdn.gitote.in/img/svg/watching.svg">
					<br/>
					<h2>No Watchers</h2>
				</div>
			{{else if .PageIsStargazers}}
				<div class="ui center dashboard no-activity">
					<img class="ui avatar small image" src="https://cdn.gitote.in/img/svg/taken.svg">
					<br/>
					<h2>No Stars</h2>
				</div>
			{{end}}
		{{end}}
		{{range .Cards}}
			<li class="item ui segment">
				<a href="{{.HomeLink}}">
					<img class="avatar" src="{{.RelAvatarLink}}"/>
				</a>
				<h3 class="name"><a href="{{.HomeLink}}">{{.DisplayName}}</a></h3>

				<div class="meta">
					{{if .Website}}
						<span class="octicon octicon">🔗</span> <a href="{{.Website}}" target="_blank" rel="noopener noreferrer">{{.Website}}</a>
					{{else if .Location}}
						<span class="octicon octicon">📍</span> {{.Location}}
					{{else}}
						<span class="octicon octicon">🕒</span> {{$.i18n.Tr "user.join_on"}} {{DateFmtShort .Created}}
					{{end}}
				</div>
			</li>
		{{end}}
	</ul>

	{{with .Page}}
		{{if gt .TotalPages 1}}
			<div class="center page buttons">
				<div class="ui borderless pagination menu">
					<a class="{{if not .HasPrevious}}disabled{{end}} item" {{if .HasPrevious}}href="{{$.Link}}?page={{.Previous}}"{{end}}>
						<i class="left arrow icon"></i> {{$.i18n.Tr "repo.issues.previous"}}
					</a>
					{{range .Pages}}
						{{if eq .Num -1}}
							<a class="disabled item">...</a>
						{{else}}
							<a class="{{if .IsCurrent}}active{{end}} item" {{if not .IsCurrent}}href="{{$.Link}}?page={{.Num}}"{{end}}>{{.Num}}</a>
						{{end}}
					{{end}}
					<a class="{{if not .HasNext}}disabled{{end}} item" {{if .HasNext}}href="{{$.Link}}?page={{.Next}}"{{end}}>
						{{$.i18n.Tr "repo.issues.next"}}&nbsp;<i class="icon right arrow"></i>
					</a>
				</div>
			</div>
		{{end}}
	{{end}}
</div>
