<table id="repo-files-table" class="repo-table-font ui unstackable fixed single line table">
	<thead>
		<tr>
			<th class="four wide">
				{{if .LatestCommitUser}}
					<img class="ui avatar image img-12" src="{{.LatestCommitUser.RelAvatarLink}}" />
					<a href="{{AppSubURL}}/{{.LatestCommitUser.Name}}"><strong>{{.LatestCommit.Author.Name}}</strong></a>
				{{else}}
					<img class="ui avatar image img-12" src="{{AvatarLink .LatestCommit.Author.Email}}" />
					<strong>{{.LatestCommit.Author.Name}}</strong>
				{{end}}
				<a rel="nofollow" class="ui sha label" href="{{.RepoLink}}/commit/{{.LatestCommit.ID}}" rel="nofollow">{{ShortSHA1 .LatestCommit.ID.String}}</a>
				<span class="grey has-emoji">{{RenderCommitMessage false .LatestCommit.Summary .RepoLink $.Repository.ComposeMetas | Str2HTML}}</span>
			</th>
			<th class="nine wide">
			</th>
			<th class="three wide text grey right age">{{TimeSince .LatestCommit.Author.When $.Lang}}</th>
		</tr>
	</thead>
	<tbody>
		{{if .HasParentPath}}
			<tr class="has-parent">
				<td colspan="3"><i class="octicon octicon-mail-reply"></i><a href="{{EscapePound .BranchLink}}{{.ParentPath}}">..</a></td>
			</tr>
		{{end}}
		{{range $item := .Files}}
			{{$entry := index $item 0}}
			{{$commit := index $item 1}}
			<tr>
				{{if $entry.IsSubModule}}
					<td>
						<span class="octicon octicon-file-submodule"></span>
						{{$refURL := $commit.RefURL AppURL $.BranchLink}}
						{{if $refURL}}
							<a href="{{$refURL}}">{{$entry.Name}}</a> @ <a href="{{$refURL}}/commit/{{$commit.RefID}}">{{ShortSHA1 $commit.RefID}}</a>
						{{else}}
							{{$entry.Name}} @ {{ShortSHA1 $commit.RefID}}
						{{end}}
					</td>
				{{else}}
					<td class="name">
						{{if $entry.IsLink}}
							<span class="octicon octicon-file-symlink-file"></span>
						{{else}}
							<span class="octicon octicon-file-{{if or $entry.IsDir}}directory{{else}}text{{end}}"></span>
						{{end}}
						<a href="{{EscapePound $.TreeLink}}/{{EscapePound $entry.Name}}">{{$entry.Name}}</a>
					</td>
				{{end}}
				<td class="message collapsing has-emoji">
					<a rel="nofollow" class="ui sha label" href="{{$.RepoLink}}/commit/{{$commit.ID}}">{{ShortSHA1 $commit.ID.String}}</a>
					<span style="font-size:14px">{{RenderCommitMessage false $commit.Summary $.RepoLink $.Repository.ComposeMetas | Str2HTML}}</span>
				</td>
				<td class="text grey right age">{{TimeSince $commit.Committer.When $.Lang}}</td>
			</tr>
		{{end}}
	</tbody>
</table>
{{if and .ReadmeExist .IsTextFile}}
	{{template "repo/view_file" .}}
{{end}}
