{{if eq .HookType "gitote"}}
	<p>{{.i18n.Tr "repo.settings.add_webhook_desc" "https://docs.gitote.in/features/webhook.html" | Str2HTML}}</p>
	<form class="ui form" action="{{.BaseLink}}/settings/hooks/gitote/{{if .PageIsSettingsHooksNew}}new{{else}}{{.Webhook.ID}}{{end}}" method="post">
		{{.CSRFTokenHTML}}
		<div class="required field {{if .Err_PayloadURL}}error{{end}}">
			<label for="payload_url">{{.i18n.Tr "repo.settings.payload_url"}}</label>
			<input id="payload_url" name="payload_url" type="url" value="{{.Webhook.URL}}" autofocus required>
		</div>
		<div class="field">
			<label>{{.i18n.Tr "repo.settings.content_type"}}</label>
			<div class="ui selection dropdown">
				<input type="hidden" id="content_type" name="content_type" value="{{if .Webhook.ContentType}}{{.Webhook.ContentType}}{{else}}application/json{{end}}">
				<div class="default text"></div>
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="item" data-value="1">application/json</div>
					<div class="item" data-value="2">application/x-www-form-urlencoded</div>
				</div>
			</div>
		</div>
		<input class="fake" type="password">
		<div class="field {{if .Err_Secret}}error{{end}}">
			<label for="secret">{{.i18n.Tr "repo.settings.secret"}}</label>
			<input id="secret" name="secret" type="password" value="{{.Webhook.Secret}}" autocomplete="off">
			<p class="text grey desc">{{.i18n.Tr "repo.settings.secret_desc" | Safe}}</p>
		</div>
		{{template "repo/settings/webhook/settings" .}}
	</form>
{{end}}
