{{template "base/head" .}}
<div class="user signin home-main gradient-bg">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CSRFTokenHTML}}
				<h3 class="ui center">
					<img height="50px" src="https://cdn.gitote.in/logoblack.svg">
				</h3>
				<h3 class="ui center">
					{{.i18n.Tr "sign_in"}} to Gitote
				</h3>
				<div class="ui attached segment prompt box">
					{{template "base/alert" .}}
					<div class="required inline field {{if .Err_UserName}}error{{end}}">
						<label for="user_name">{{.i18n.Tr "home.uname_holder"}}</label>
						<input id="user_name" name="user_name" value="{{.user_name}}" autofocus required>
					</div>
					<div class="required inline field {{if .Err_Password}}error{{end}}">
						<label for="password">{{.i18n.Tr "password"}}</label>
						<input id="password" name="password" type="password" autocomplete="off" value="{{.password}}" required>
					</div>
					{{if .LoginSources}}
						<div class="required inline field {{if .Err_LoginSource}}error{{end}}">
							<label>{{.i18n.Tr "auth.auth_source"}}</label>
							<div class="ui selection dropdown">
								<input type="hidden" id="login_source" name="login_source" value="{{.login_source}}" required>
								{{if .DefaultSource}}
									<span class="text">
										{{.DefaultSource.Name}}
									</span>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" data-value="{{.DefaultSource.ID}}">{{.DefaultSource.Name}}</div>
										<div class="item" data-value="0">{{.i18n.Tr "auth.local"}}</div>
										{{range .LoginSources}}
											<div class="item" data-value="{{.ID}}">{{.Name}}</div>
										{{end}}
									</div>
								{{else}}
									<span class="text">
										{{.i18n.Tr "auth.local"}}
									</span>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" data-value="0">{{.i18n.Tr "auth.local"}}</div>
										{{range .LoginSources}}
											<div class="item" data-value="{{.ID}}">{{.Name}}</div>
										{{end}}
									</div>
								{{end}}
							</div>
						</div>
					{{end}}
					<div class="inline field">
						<label></label>
						<div class="ui checkbox">
							<label>{{.i18n.Tr "auth.remember_me"}}</label>
							<input name="remember" type="checkbox">
						</div>
					</div>

					<div class="inline field">
						<label></label>
						<button class="ui green button">{{.i18n.Tr "sign_in"}}</button>
						<a href="{{AppSubURL}}/user/forget_password">{{.i18n.Tr "auth.forget_password"}}</a>
					</div>
					{{if .ShowRegistrationButton}}
						<div class="inline field">
							<label></label>
							<a href="{{AppSubURL}}/join">{{.i18n.Tr "auth.sign_up_now" | Str2HTML}}</a>
						</div>
					{{end}}
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
