{{template "base/head" .}}
<div class="user signin two-factor home-main gradient-bg">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CSRFTokenHTML}}
				<h3 class="ui center">
					<img height="50px" src="https://cdn.gitote.in/logoblack.svg">
				</h3>
				<h3 class="ui center">
					{{.i18n.Tr "auth.login_two_factor"}}
				</h3>
				<div class="ui attached segment prompt box">
					{{template "base/alert" .}}
					<div class="required field">
						<label for="passcode">{{.i18n.Tr "auth.login_two_factor_passcode"}}</label>
						<div class="ui fluid input">
							<input id="passcode" name="passcode" autocomplete="off" autofocus required>
						</div>
					</div>

					<button class="ui fluid green button">{{.i18n.Tr "settings.two_factor_verify"}}</button>
				</div>
				<p class="ui center">
					<a href="{{AppSubURL}}/login/two_factor_recovery_code">{{.i18n.Tr "auth.login_two_factor_enter_recovery_code"}}</a>
				</p>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
