{{template "base/head" .}}
<div class="user settings repositories">
	<div class="ui container">
		<div class="ui grid">
			{{template "user/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "settings.repos"}} 📂
				</h4>

				<div class="ui attached segment repos">
					<div class="ui middle aligned divided list">
						{{range .Repos}}
							<div class="item">
								<span class="text light grey">
									{{if .IsPrivate}}
										<span class="text gold"><i class="octicon octicon-lock"></i></span>
									{{else if .IsFork}}
										<i class="octicon octicon-repo-forked"></i>
									{{else if .IsMirror}}
										<i class="octicon octicon-repo-clone"></i>
									{{else}}
										<i class="octicon octicon-repo"></i>
									{{end}}
								</span>
								<a href="{{AppSubURL}}/{{.Owner.Name}}/{{.Name}}">
									{{.Owner.Name}}/{{.Name}}
								</a> 
								<span class="ui text light grey">{{.Size | FileSize}}</span>
								{{if not (eq .OwnerID $.LoggedUserID)}}
								<div class="right floated">
									<a class="ui red tiny basic button inline delete-button" href="" data-url="{{$.Link}}/leave" data-id="{{.ID}}">{{$.i18n.Tr "settings.repos.leave"}}</a>
								</div>
								{{end}}
							</div>
						{{end}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui small basic delete modal">
	<div class="ui icon header">
		{{.i18n.Tr "settings.repos.leave_title"}}
	</div>
	<div class="content">
		<p>{{.i18n.Tr "settings.repos.leave_desc"}}</p>
	</div>
	{{template "base/delete_modal_actions" .}}
</div>
{{template "base/footer" .}}
