{{template "base/head" .}}
<div class="admin dashboard">
	<div class="ui container">
		<div class="ui grid">
			{{template "admin/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
                <h4 class="ui top attached header">
					Basic
				</h4>
				<div class="ui unstackable attached table segment">
					<iframe 
						width="725" 
						height="100" 
						src="https://datastudio.google.com/embed/reporting/1j24yhwI5ilcDK_2bG6KcJmH1oQO_nf51/page/VaNc" 
						frameborder="0" 
						>
					</iframe>
				</div>

				<h4 class="ui top attached header">
					Pageviews
				</h4>
				<div class="ui unstackable attached table segment">
					<iframe 
						width="725" 
						height="400" 
						src="https://datastudio.google.com/embed/reporting/1c5bPdcnysbRrYUDvxZqkuXV2nh9ORwS9/page/v9aQ" 
						frameborder="0" 
						>
					</iframe>
				</div>

                <h4 class="ui top attached header">
					Pageviews by country
				</h4>
				<div class="ui unstackable attached table segment">
					<iframe 
						width="725" 
						height="400" 
						src="https://datastudio.google.com/embed/reporting/1_mK0LrISgGF9a36-QDoJrUOc8jL29PDx/page/v9aQ" 
						frameborder="0" 
						>
					</iframe>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
