{{template "base/head" .}}
<div class="admin authentication">
	<div class="ui container">
		<div class="ui grid">
			{{template "admin/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					Authentication Sources (Total: {{.Total}}) 🔑
					<div class="ui right">
						<a class="ui black tiny button" href="{{AppSubURL}}/admin/auths/new">Add New Source</a>
					</div>
				</h4>
				<div class="ui unstackable attached table segment">
					<table class="ui unstackable very basic striped table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Type</th>
								<th>Enabled</th>
								<th>Default</th>
								<th>Updated</th>
								<th>Created</th>
								<th>Edit</th>
							</tr>
						</thead>
						<tbody>
							{{range .Sources}}
								<tr>
									<td>{{.ID}}</td>
									<td><a href="{{AppSubURL}}/admin/auths/{{.ID}}">{{.Name}}</a></td>
									<td>{{.TypeName}}</td>
									<td><i class="fa fa{{if .IsActived}}-check{{end}}-square-o"></i></td>
									<td><i class="fa fa{{if .IsDefault}}-check{{end}}-square-o"></i></td>
									<td><span class="poping up" data-content="{{DateFmtLong .Updated}}" data-variation="tiny">{{DateFmtShort .Updated}}</span></td>
									<td>
										{{if .Created.IsZero}}
											N/A
										{{else}}
											<span class="poping up" data-content="{{DateFmtLong .Created}}" data-variation="tiny">{{DateFmtShort .Created}}</span>
										{{end}}
									</td>
									<td><a href="{{AppSubURL}}/admin/auths/{{.ID}}"><i class="fa fa-pencil-square-o"></i></a></td>
								</tr>
							{{end}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
