<div class="four wide column">
	<div class="ui vertical menu">
		<div class="header item">{{.i18n.Tr "repo.settings"}} 🛠️</div>
		<a class="{{if .PageIsSettingsOptions}}active{{end}} item" href="{{.RepoLink}}/settings">
			<i class="menu-icon octicon">⚙️</i> {{.i18n.Tr "repo.settings.options"}}
		</a>
		<a class="{{if .PageIsSettingsCollaboration}}active{{end}} item" href="{{.RepoLink}}/settings/collaboration">
			<i class="menu-icon octicon">👯</i> {{.i18n.Tr "repo.settings.collaboration"}}
		</a>
		{{if not .Repository.IsMirror}}
		<a class="{{if .PageIsSettingsBranches}}active{{end}} item" href="{{.RepoLink}}/settings/branches">
			<i class="menu-icon octicon">🌵</i> {{.i18n.Tr "repo.settings.branches"}}
		</a>
		{{end}}
		<a class="{{if .PageIsSettingsHooks}}active{{end}} item" href="{{.RepoLink}}/settings/hooks">
			<i class="menu-icon octicon">🎣</i> {{.i18n.Tr "repo.settings.hooks"}}
		</a>
		{{if .LoggedUser.CanEditGitHook}}
			<a class="{{if .PageIsSettingsGitHooks}}active{{end}} item" href="{{.RepoLink}}/settings/hooks/git">
				<i class="menu-icon octicon">🎣</i> {{.i18n.Tr "repo.settings.githooks"}}
			</a>
		{{end}}
		<a class="{{if .PageIsSettingsKeys}}active{{end}} item" href="{{.RepoLink}}/settings/keys">
			<i class="menu-icon octicon">🔑</i> {{.i18n.Tr "repo.settings.deploy_keys"}}
		</a>
	</div>
</div>
