<div class="ui container">
	<div class="ui floating dropdown link jump">
		<span class="text">
			<img class="ui avatar image" src="{{.ContextUser.RelAvatarLink}}">
			{{.ContextUser.ShortName 20}}
			<i class="dropdown icon"></i>
		</span>
		<div class="context user overflow menu" tabindex="-1">
			<div class="ui header">
				{{.i18n.Tr "home.switch_dashboard_context"}}
			</div>
			<div class="items">
				<a class="{{if eq .ContextUser.ID .LoggedUser.ID}}active selected{{end}} item" href="{{AppSubURL}}/{{if .PageIsIssues}}issues{{else if .PageIsPulls}}pulls{{end}}">
					<img class="ui avatar image" src="{{.LoggedUser.RelAvatarLink}}">
					{{.LoggedUser.Name}}
				</a>
				{{range .Orgs}}
					<a class="{{if eq $.ContextUser.ID .ID}}active selected{{end}} item" href="{{AppSubURL}}/org/{{.Name}}/{{if $.PageIsIssues}}issues{{else if $.PageIsPulls}}pulls{{else}}dashboard{{end}}">
						<img class="ui avatar image" src="{{.RelAvatarLink}}">
						{{.ShortName 20}}
					</a>
				{{end}}
			</div>
			<a class="item" href="{{AppSubURL}}/org/create">
				<i class="octicon octicon-plus"></i>&nbsp;&nbsp;&nbsp;{{.i18n.Tr "new_org"}}
			</a>
		</div>
	</div>

	{{if .ContextUser.IsOrganization}}
		<div class="ui right">
			<div class="ui secondary head menu">
				<a class="{{if .PageIsNews}}active{{end}} item" href="{{AppSubURL}}/org/{{.ContextUser.Name}}/dashboard">
					<i class="menu-icon octicon">🔊</i>&nbsp;{{.i18n.Tr "activities"}}
				</a>
				<a class="{{if .PageIsIssues}}active{{end}} item" href="{{AppSubURL}}/org/{{.ContextUser.Name}}/issues">
					<i class="menu-icon octicon">📑</i>&nbsp;{{.i18n.Tr "issues"}}
				</a>
				<a class="{{if .PageIsPulls}}active{{end}} item" href="{{AppSubURL}}/org/{{.ContextUser.Name}}/pulls">
					<i class="menu-icon octicon">🚧</i>&nbsp;{{.i18n.Tr "pull_requests"}}
				</a>
				<div class="right menu">
					<div class="item">
						<a class="ui blue basic button" href="{{.ContextUser.HomeLink}}">
							{{.i18n.Tr "home.view_home" (.ContextUser.ShortName 10)}}
						</a>
					</div>
				</div>
			</div>
		</div>
	{{else}}
		<div class="ui right">
			<div class="right menu">
				<div class="item">
					<a style="margin-top:-4px" class="ui blue basic button green" href="{{AppURL}}repo/create">
						{{.i18n.Tr "new_repo"}}
					</a>
				</div>
			</div>
		</div>
	{{end}}
	<div class="ui divider"></div>
</div>
