{{template "base/head" .}}
<div class="repository">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="navbar">
			{{template "repo/issue/navbar" .}}
			<div class="ui right">
				{{if .PageIsIssueList}}
					<a class="ui green button" href="{{.RepoLink}}/issues/new">{{.i18n.Tr "repo.issues.new"}}</a>
				{{else}}
					<a class="ui green button {{if not .PullRequestCtx.Allowed}}disabled{{end}}" href="{{if .PullRequestCtx.Allowed}}{{.PullRequestCtx.BaseRepo.Link}}/compare/{{.Repository.DefaultBranch}}...{{.PullRequestCtx.HeadInfo}}{{end}}">{{.i18n.Tr "repo.pulls.new"}}</a>
				{{end}}
			</div>
		</div>
		<div class="ui divider"></div>
		<div class="ui buttons tiny">
			<a class="ui {{if not .IsShowClosed}}green{{else}}grey{{end}} basic button" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state=open&labels={{.SelectLabels}}&milestone={{.MilestoneID}}&assignee={{.AssigneeID}}">
				<i class="octicon octicon-issue-opened"></i>
				{{.i18n.Tr "repo.issues.open_tab" .IssueStats.OpenCount}}
			</a>
			<a class="ui {{if .IsShowClosed}}red{{else}}grey{{end}} basic button" href="{{$.Link}}?q={{$.Keyword}}&type={{.ViewType}}&sort={{$.SortType}}&state=closed&labels={{.SelectLabels}}&milestone={{.MilestoneID}}&assignee={{.AssigneeID}}">
				<i class="octicon octicon-issue-closed"></i>
				{{.i18n.Tr "repo.issues.close_tab" .IssueStats.ClosedCount}}
			</a>
		</div>

		<div class="ui secondary filter" style="display: inline-block;">
			<!-- Search -->
			{{template "repo/issue/searchbar" .}}
		</div>
		<div class="ui right floated secondary filter menu">
			<!-- Label -->
			<div class="ui {{if not .Labels}}disabled{{end}} dropdown jump item">
				<span class="text">
					{{.i18n.Tr "repo.issues.filter_label"}}
					<i class="dropdown icon"></i>
				</span>
				<div class="menu">
					<a class="item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_label_no_select"}}</a>
					{{range .Labels}}
						<a class="item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{.ID}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}"><span class="octicon {{if eq $.SelectLabels .ID}}octicon-check{{end}}">{{if not .IsChecked}}&nbsp;{{end}}</span><span class="label color" style="background-color: {{.Color}}"></span> {{.Name | Sanitize}}</a>
					{{end}}
				</div>
			</div>

			<!-- Milestone -->
			<div class="ui {{if not .Milestones}}disabled{{end}} dropdown jump item">
				<span class="text">
					{{.i18n.Tr "repo.issues.filter_milestone"}}
					<i class="dropdown icon"></i>
				</span>
				<div class="menu">
					<a class="item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_milestone_no_select"}}</a>
					{{range .Milestones}}
						<a class="{{if eq $.MilestoneID .ID}}active selected{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{.ID}}&assignee={{$.AssigneeID}}">{{.Name | Sanitize}}</a>
					{{end}}
				</div>
			</div>

			<!-- Assignee -->
			<div class="ui {{if not .Assignees}}disabled{{end}} dropdown jump item">
				<span class="text">
					{{.i18n.Tr "repo.issues.filter_assignee"}}
					<i class="dropdown icon"></i>
				</span>
				<div class="menu">
					<a class="item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}">{{.i18n.Tr "repo.issues.filter_assginee_no_select"}}</a>
					{{range .Assignees}}
						<a class="{{if eq $.AssigneeID .ID}}active selected{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{.ID}}"><img src="{{.RelAvatarLink}}"> {{.DisplayName}}</a>
					{{end}}
				</div>
			</div>

			<!-- Type -->
			<div class="ui dropdown type jump item">
				<span class="text">
					{{.i18n.Tr "repo.issues.filter_type"}}
					<i class="dropdown icon"></i>
				</span>
				<div class="menu">
					<a class="{{if eq .ViewType "all"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type=all&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_type.all_issues"}}</a>
					<a class="{{if eq .ViewType "assigned"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type=assigned&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_type.assigned_to_you"}}</a>
					<a class="{{if eq .ViewType "created_by"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type=created_by&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_type.created_by_you"}}</a>
					<a class="{{if eq .ViewType "mentioned"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type=mentioned&sort={{$.SortType}}&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_type.mentioning_you"}}</a>
				</div>
			</div>

			<!-- Sort -->
			<div class="ui dropdown type jump item">
				<span class="text">
					{{.i18n.Tr "repo.issues.filter_sort"}}
					<i class="dropdown icon"></i>
				</span>
				<div class="menu">
					<a class="{{if or (eq .SortType "latest") (not .SortType)}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=latest&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.latest"}}</a>
					<a class="{{if eq .SortType "oldest"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=oldest&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.oldest"}}</a>
					<a class="{{if eq .SortType "recentupdate"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=recentupdate&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.recentupdate"}}</a>
					<a class="{{if eq .SortType "leastupdate"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=leastupdate&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.leastupdate"}}</a>
					<a class="{{if eq .SortType "mostcomment"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=mostcomment&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.mostcomment"}}</a>
					<a class="{{if eq .SortType "leastcomment"}}active{{end}} item" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort=leastcomment&state={{$.State}}&labels={{.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}">{{.i18n.Tr "repo.issues.filter_sort.leastcomment"}}</a>
				</div>
			</div>
		</div>
		{{if not .Issues}}
			<div class="ui center dashboard no-activity">
				<img class="ui avatar small image" src="https://cdn.gitote.in/img/svg/no_data.svg">
				<br/>
				<h2>Nothing Here</h2>
			</div>
		{{end}}
		<div class="issue list">
			{{range .Issues}}
				{{ $timeStr:= TimeSince .Created $.Lang }}
				<li class="item">
					<div class="ui {{if .IsRead}}black{{else}}green{{end}} label">#{{.Index}}</div>
					<a class="title has-emoji" href="{{$.Link}}/{{.Index}}">{{.Title}}</a>

					{{range .Labels}}
						<a class="ui label" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&state={{$.State}}&labels={{.ID}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}" style="color: {{.ForegroundColor}}; background-color: {{.Color}}">{{.Name | Sanitize}}</a>
					{{end}}

					{{if .NumComments}}
						<span class="comment ui right"><i class="octicon octicon">💬</i> {{.NumComments}}</span>
					{{end}}

					<p class="desc">
						{{$.i18n.Tr "repo.issues.opened_by" $timeStr .Poster.HomeLink .Poster.DisplayName | Safe}}
						{{if .Milestone}}
							<a class="milestone" href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{.Milestone.ID}}&assignee={{$.AssigneeID}}">
								<span class="octicon octicon-milestone"></span> {{.Milestone.Name | Sanitize}}
							</a>
						{{end}}
						{{if .Assignee}}
							<a class="ui right assignee poping up" href="{{.Assignee.HomeLink}}" data-content="{{.Assignee.DisplayName}}" data-variation="inverted" data-position="left center">
								<img class="ui avatar image" src="{{.Assignee.RelAvatarLink}}">
							</a>
						{{end}}
					</p>
				</li>
			{{end}}

			{{with .Page}}
				{{if gt .TotalPages 1}}
					<div class="center page buttons">
						<div class="ui borderless pagination menu">
							<a class="{{if not .HasPrevious}}disabled{{end}} item" {{if .HasPrevious}}href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}&page={{.Previous}}"{{end}}>
								<i class="left arrow icon"></i> {{$.i18n.Tr "repo.issues.previous"}}
							</a>
							{{range .Pages}}
								{{if eq .Num -1}}
									<a class="disabled item">...</a>
								{{else}}
									<a class="{{if .IsCurrent}}active{{end}} item" {{if not .IsCurrent}}href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}&page={{.Num}}"{{end}}>{{.Num}}</a>
								{{end}}
							{{end}}
							<a class="{{if not .HasNext}}disabled{{end}} item" {{if .HasNext}}href="{{$.Link}}?q={{$.Keyword}}&type={{$.ViewType}}&sort={{$.SortType}}&state={{$.State}}&labels={{$.SelectLabels}}&milestone={{$.MilestoneID}}&assignee={{$.AssigneeID}}&page={{.Next}}"{{end}}>
								{{$.i18n.Tr "repo.issues.next"}}&nbsp;<i class="icon right arrow"></i>
							</a>
						</div>
					</div>
				{{end}}
			{{end}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
