.dashboard {
	padding-top: @15;
	padding-bottom: @footer-margin * 2;

	&.feeds,
	&.issues {
		.context.user.menu {
			z-index: 101;
			min-width: 200px;
			.ui.header {
				font-size: 1rem;
				text-transform: none;
				text-align: left;
			}
		}
		.filter.menu {
			.item {
				text-align: left;
				.text {
					height: 16px;
					vertical-align: middle;
					&.truncate {
						width: 85%;
					}
				}
				.floating.label {
					top: 7px;
					left: 90%;
					width: 15%;
				}
			}

			// Sort
			.jump.item {
				margin: 1px;
				padding-right: 0;
			}
			.menu {
				max-height: 300px;
				overflow-x: auto;
				right: 0!important;
				left: auto!important;
			}
		}
		.ui.right .head.menu {
			margin-top: -5px;
			.item.active {
				color: #d9453d;
			}
		}
	}
	
	&.sponsor {
		background: #fcf8e9;

		center {
			padding: @15;

			div {
			    background: #dee4ff;
			    color: #0a0a0a;
			    display: inline-block;
			    padding: 2px 6px;
			    font-weight: 500;
			    margin-top: 10px;
			    
			    &:hover {
			    	background: #e5e9ff;
			    }
			}
		}
		
		&.divider {
			border-top: 2px solid #ececec;
		    font-size: 0.84em;
		    color: #666666;
		}
	}
	
	&.no-activity {
		margin-top: @25 !important;
	}
	
	&.prompt {
		background-image: linear-gradient(226deg, rgba(255, 255, 255, 0) 0%, #fff), linear-gradient(70deg, #eaf5ff 0%, #f6fff8);
	}
}

.bootcamp {
	.alg {
        margin-bottom: 2em !important;
    }
    
    .head {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }
    
    .box {
    	background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #fffefd), linear-gradient(0deg, #fff8e2 0%, #fff6db) !important;
    	
    	img {
	        height: 5em;
		    margin-bottom: -10px;
		    margin-top: 10px;
    	}
    	
    	p {
	        font-size: 12px;
	    }
	    
	    h2 {
	        color: #b4b4b4;
	    }
    }
    
    .close {
    	padding: 5px !important;
    }
}

.card-desc {
	line-height: 1.5;
	margin-bottom: @15;
}

&.feeds {
	.news {
		> .ui.grid {
			margin-left: auto;
			margin-right: auto;
		}
		.ui.avatar {
			margin-top: 13px;
		}
		p {
			font-size: 16px;
		}
		.time-since {
			font-size: 11px;
    		font-weight: bold;
		}
		.issue.title {
			line-height: 1.1em;
			width: 80%;
		}
		.push.news .content ul {
			font-size: 13px;
			list-style: none;
			padding-left: 0;

			img {
				margin-bottom: -4px;
			}
			.text.truncate {
				width: 60%;
				margin-bottom: -5px;
				margin-left: 3px;
			}
		}
		.commits-card {
			background-color: #f9f9f9;
			border: 1px solid #d1d5da;
			border-radius: 3px;
			padding: @5 16px;
			.sha {
				font-family: monospace;
				background: #fff2ce;
				padding: 1px 5px;
				font-size: 12px;
				border-radius: 3px;
			}
		}
		code {
			padding: 3px;
			font-size: 85%;
			background-color: rgba(0, 0, 0, 0.04);
			border-radius: 3px;
			word-break: break-all;
		}
	}

	.list {
		.header {
			.ui.label {
				margin-top: -4px;
				padding: 4px 5px;
				font-weight: normal;
			}

			.plus.icon {
				margin-top: @5;
			}
		}
		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;

			li {
				&:not(:last-child) {
					border-bottom: 1px solid #EAEAEA;
				}

				&.private {
					background-color: #fcf8e9;
				}

				a {
					padding: 6px 1.2em;
					display: block;

					.octicon {
						color: #888;

						&.rear {
					    font-size: @15;
						}
					}
					.star-num {
						font-size: 12px;
					}
				}
			}
		}

		.repo-owner-name-list {
			.item-name {
				max-width: 70%;
				margin-bottom: -4px;
			}
		}

		#collaborative-repo-list {
			.owner-and-repo {
				max-width: 80%;
				margin-bottom: -5px;
			}
			.owner-name {
				max-width: 120px;
				margin-bottom: -5px;
			}
		}
	}
}

.feeds {
	.issue {
		overflow-wrap: break-word !important;
		font-size: 13px !important;
	}

	.icons {
		background: #e6ebf1;
		padding: 7px;
		font-size: 15px;
		border-radius: 50%;
		height: 28px;
		width: 28px;
		margin-left: -10px;
	}
}

.ui.grid > [class*="fifteen wide"].column {
	text-align: left;
}

.home-footer {
	margin-top: 2em !important;

	img {
		width: 1.4em !important;
    	margin-bottom: 6px;
	}
	span {
		font-size: 14px !important;
	}
}

.profile-card {
	width: 100% !important;
	font-family: monospace;
	
	&.meta {
		line-height: 1.8;
		margin-top: 18px;
		color: #5b5b5b !important;
	}

	&.font {
		font-size: @15 !important;
	}
}

// Mobile
@media (max-width: 1020px) {
	.item.brand,
	.six.wide.column,
	.ui.five.wide.column,
	.home-footer {
		display: none !important;
	}

	.dashboard,
	.ui.grid > [class*="ten wide"].column,
	.ten.wide.column,
	.feeds .news .issue.title {
		width: 100% !important;
	}

	.ui.vertically.padded.grid.head .column{
		padding: 0;
	}

	.ui.grid > [class*="one wide"].column{
		margin-left: -38px;
		margin-top: 3em;
		position: absolute;
	}

	.feeds .news p {
		font-size: 1rem !important;
    	line-height: 19px !important;
	}

	.feeds .news .push.news .content ul {
		font-size: 12px;
	}

	.commits-card {
		.sha {
			font-family: monospace !important;
			background: transparent !important;
			padding: 0 !important;
			border-radius: 0 !important;
			font-size: @10 !important;
		}
	}
	
	.bootcamp {
		display: none;
	}
}
