.CodeMirror {
	font-size: 14px;
	font-family: monospace;
	line-height: 1.5;
	font-size: 13px;
	&.cm-s-default {
		border-radius: 3px;
		padding: 0 !important;
	}
	.cm-comment {
		background: inherit !important;
	}
}
