.explore {
	padding-top: @15;
	padding-bottom: @footer-margin * 2;

	.navbar {
		.octicon {
			width: 16px;
			text-align: center;
		}
	}

	.not-found {
		background: #f3f3f3;
		padding: 32px;
		background-color: #fafbfc;
		border: 1px solid #e1e4e8;
		border-radius: 3px;
		box-shadow: inset 0 0 @10 rgba(27,31,35,0.05);
	}

	.username {
		background-color: #ffdb99;
		color: #5a5a5a;
		display: inline-block;
		padding-left: 6px;
		padding-right: 6px;
		border-radius: 2em;
		font-size: 12px;
	}
}

.ui.repository.list {
	.item {
		padding-bottom: 25px;

		&:not(:first-child) {
			border-top: 1px solid #eee;
			padding-top: 25px;
		}

		.ui.header {
			font-size: 1.5rem;
			padding-bottom: @10;
			font-weight: 500;

			.name {
				word-break: break-all;
			}
			
			.metas {
				color: #888;
				font-size: 14px;
				font-weight: normal;
				span:not(:last-child) {
					margin-right: @5;
				}
			}
		}

		.time {
			font-size: 12px;
			color: #808080;
		}
	}
}

.ui.user.list {
	.item {
		padding-bottom: 25px;

		&:not(:first-child) {
			border-top: 1px solid #eee;
			padding-top: 25px;
		}

		.ui.avatar.image.explore-page{
			width: 40px;
			height: 40px;
			border-radius: 50px;
			border: 2px solid #bbb;
		}

		.description {
			font-size: 12px;
    		margin-top: 7px;

			.octicon:not(:first-child) {
				margin-left: @5;
			}

			a {
				color: #333;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.explore-card {
	&.top {
		margin-top: 0.4em;
	}

	&.title {
		font-size: @20;
		color: #383838;
		margin-bottom: 8px;
	}

	&.meta {
		font-size: 14px !important;
	}

	&.description {
		font-size: 13px !important;
	}

	&.icon {
		font-size: .9em !important;
	}

	&.extra {
		font-size: 13px !important;
	}

	&.topics-img {
		width: 100%;
	}

	&.footer {
		font-size: 1.1em;
		margin-top: 7em;
		margin-bottom: 5em;
	}

	&.font {
		font-size: 1.2em !important;
		font-family: monospace !important;
	}

	&.seperator {
		margin-right: @10;
	}
}

.ex-search {
	font-weight: 400;
}

.no-padding-left {
	padding-left: 0 !important;
}

// Mobile
@media (max-width: 1020px) {
	.ui.grid > [class*="four wide"].column{
		width: 100% !important;
	}

	.ui.vertical.menu{
		margin: 0 auto !important;
		width: 90%;
	}

	.ui.user.list .item .content{
		width: 85%;
	}

	.ui.user.list .item .content .br{
		display: block;
	}

	.ui.user.list .item .content .octicon.octicon-location{
		padding-left: @5;
	}

	.time {
		padding-left: @10;
	}

	.has-emoji {
		margin-left: @10;
	}

	.explore-card {
		&.top {
			margin-left: 50%;
			margin-right: 50%;
		}

		&.mobile {
			display: none !important;
		}

		&.card {
			margin-top: .1em !important;
		}
	}

	.ex-search {
		font-size: 1.3em;
		padding-top: 1.5em;
		padding-bottom: .5em;
	}

	.ex-head {
		font-size: @20;
	}
}
