.pages {
    &.bg {
        color: @white-100;
        background-color: #252a30;
    }

    .body {
        padding: 70px 0 90px;
        margin: 0 auto;
        max-width: -webkit-calc(100% - 25px);
        max-width: calc(100% - 25px);
        text-align: left;
        width: 900px;
    }
    &.head {
        font-size: 36px;
        height: 150px;
        align-items: center;
        background-color: #2f363d;
        color: @white-100;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        justify-content: center;
        padding-bottom: 50px;
        position: relative;

        .text {
            display: flex;
            justify-content: center;
            white-space: nowrap;
            width: 100%;
            margin-top: 50px !important;
        }

        div {
            font-size: 16px;        }
    }
    .list {
        font-size: 1.1em;
        color: #9cb3c9;
        margin-top: 14px;
        line-height: 1.4;
        margin-bottom: 28px;
    }
    .code {
        background: #e7445a;
        padding: 4px;
        color: @white-100;
        border-radius: 3px;
    }
    .heading {
        color: @white-100;
        font-size: @20 !important;
    }
    .about {
        &.heading {
            color: @white-100;
            font-size: 30px !important;
        }
        &.text {
            color: @white-100;
            font-size: 17px !important;

            &.top {
                margin-top: 40px;
            }
        }
    }
    .soon {
        margin: 2em;
        height: 10em;
    }
}

.pages-heading {
    font-size: 22px !important;
    font-weight: 400 !important;
    margin-top: 80px !important;
}

.pages-small {
    font-size: 17px;
    color: #9cb3c9;
    margin-top: 14px;
    line-height: 1.4;

    a {
        border-bottom: 3px solid #e6375a;
        color: @white-100;
        font-weight: 600;
        position: relative;
        transition: background-color 120ms;

        &:hover {
            background-color: #e6375a;
        }
    }
}

.octopus {
    height: 20em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.contact {
    padding-left: 5%;
    padding-right: 5%;

    label {
        color: @white-100 !important;
    }

    .color {
        color: @white-100 !important;
        background: @primary-light !important;
    }

    .desc {
        margin-top: 0 !important;
        color: #e4e4e4;
    }
}

// Mobile
@media (max-width: 1020px) {
    .pages {
        .body {
            max-width: -webkit-calc(100% - @20);
            max-width: calc(100% - @20);
        }
    }
    .contact {
        .desc {
            display: none;
        }
    }
    .pages-small {
        &.head, .box-head {
            font-size: 25px !important;
        }
    }
}
