@footer-margin: 40px;

// Size

@5: 5px;
@10: 10px;
@15: 15px;
@20: 20px;
@25: 25px;

// Colors

@primary: #24292E;
@primary-light: #343b42;

@white-100: #FFFFFF;
@white-200: #FFFFFF;
@white-300: #FFFFFF;
@white-400: #FFFFFF;
@white-500: #FFFFFF;

@black: #00000000;