{{template "base/head" .}}
<div class="explore repositories">
	<div class="ui container">
		<div class="ui grid">
			{{template "explore/navbar" .}}
			<div class="twelve wide column content">
				{{template "explore/search" .}}
				{{if .Keyword}}
					{{template "explore/repo_list" .}}
					{{template "explore/page" .}}
				{{else}}
					<center>
						<div class="explore">
							<div class="not-found">
								<img class="ui avatar small image" src="https://cdn.gitote.in/img/svg/folder.svg">
								<br/>
								<h2>{{.i18n.Tr "explore.reposearch"}}</h2>
							</div>
						</div>
					</center>
				{{end}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
