<div class="ui repository list">
	{{range .Repos}}
		<div class="item">
			<div class="ui grid">
				<div class="ui two wide column middle aligned center">
					{{if .RelAvatarLink}}<img class="ui tiny image" src="{{.RelAvatarLink}}">{{else}}<i class="mega-octicon octicon-repo"></i>{{end}}
				</div>
				<div class="ui fourteen wide column no-padding-left">
					<div class="ui header">
						<a class="name" href="{{AppSubURL}}/{{if .Owner}}{{.Owner.Name}}{{else if $.Org}}{{$.Org.Name}}{{else}}{{$.Owner.Name}}{{end}}/{{.Name}}">{{if $.PageIsExplore}}{{.Owner.Name}} / {{end}}{{.Name}}</a>
						{{if .IsPrivate}}
							<span class="text gold"><i class="octicon octicon-lock"></i></span>
						{{else if .IsFork}}
							<span><i class="octicon octicon-repo-forked"></i></span>
						{{else if .IsMirror}}
							<span><i class="octicon octicon-repo-clone"></i></span>
						{{end}}
						{{if .IsVerified}}<a class="poping up" target="_blank" data-content="Verified Repository" data-variation="inverted tiny" data-position="right center"><i class="verified octicon octicon-verified"></i></a>{{end}}

						<div class="ui right metas">
							<span class="text grey"><i class="menu-icon octicon">⭐</i> {{.NumStars}}</span>
						</div>
					</div>
					{{if .Description}}<p class="has-emoji">{{.Description | Str2HTML}}</p>{{end}}
					<p class="time">
						<i style="font-size:11px" class="menu-icon octicon">🕒</i> {{$.i18n.Tr "org.repo_updated"}} {{TimeSince .Updated $.i18n.Lang}}
						<i style="font-size:11px;margin-left:8px" class="menu-icon octicon">🌵</i> {{.NumForks}}
					</p>
				</div>
			</div>
		</div>
	{{end}}
</div>
